---
/**
 * * About section
 */

import profileImage from "@assets/images/Landscape1.webp";
import { Image } from "astro:assets";
interface teamItem {
	name: string; 
	title: string;
	image: ImageMetadata; // imported image
}

import image3 from "@assets/images/Neorama.png";
import image1 from "@assets/images/Neorama.png";
import image2 from "@assets/images/Neorama.png";


const aboutData: teamItem[] = [
	{
		name: "Liron Orlev",
		title:"Community Manager",
		image: image1,
	},
	{
		name: "Orri J. Avraham",
		title: "Development Manager",

		image: image2,
	},
	{
		name: "Alkinoos Konis (NEXUS)",
		title: "Legal Counsel",

		image: image3,
	},
		{
		name: "Irene Ioannidou",
		title:"Architect",
		image: image1,
	},
	{
		name: "Tassos Gkanilas",
		title: "Land Surveyor",

		image: image2,
	},
	{
		name: "Anastasia Ladopoulou",
		title: "Legal Counsel",

		image: image3,
	},
];


const blocks = [
  {
    title: "neorama​",
    text: "Every ambitious project requires the right combination of professionals to bring the vision to life. Neorama is being built by an A-team of architects, land surveyors, lawyers, community planners and managers to create the world-class experience of luxury countryside life. ",
	image: profileImage 
 },


];
---


<section
  id="about"
  class="site-container scroll-mt-2 py-4 md:py-8"
>

  <h2 class="h3 text-primary-500 uppercase mb-2 md:mb-4">
    meet the team
  </h2>

  <div class="space-y-6 md:space-y-4">

    {blocks.map(block => (

      <div
        class="
          grid
          md:grid-cols-3
          gap-4
          items-center
        "
      >

        {/* text */}
        <div class="md:col-span-2">

          <h3 class="h2 mb-6">
            {block.title}
          </h3>

          <div
            class="
              bg-base-100
              p-8
              lg:text-lg
            "
          >

            <p>
              {block.text}
            </p>

          </div>

        </div>


        {/* image */}
        <div
          class="
            w-full
            max-w-md
            mx-auto
          "
        >

          <div
            class="
              aspect-[3/4]
              overflow-hidden
              rounded-xl
            "
          >

            <Image
              src={block.image}
              alt="Neorama"
              width={450}
              densities={[1.5, 2]}
              class=" 
			  w-full
			  h-full
                object-cover
              "
            />

          </div>

        </div>

      </div>

    ))}

  </div>
		<div class="grid gap-4 mt-4 sm:grid-cols-[repeat(auto-fit,minmax(20rem,2fr))]">
	{
	aboutData.map((about) =>(
				<div class="site-container bg-base-100">
						<Image
						src={about.image}
						alt="Neorama"

						class="h-auto w-full  "
					/>
					<h3 class="h3 text-center">
	{about.name}
				</h3>
							<ul class="mt-4 space-y-3">
	{about.title}

					</ul>
					</div>
				))	
		}

</div>
</section>

